article.post {
	margin: 4.5rem 0 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;

		time {
			font-size: 0.875rem;
		}

		h1 {
			text-align: center;
			width: 32rem;
			margin: 1.5rem 0;

			@media all and (max-width: 768px) {
				width: 100%;
			}
		}
	}
	.post-content {
		h2,
		h3,
		ul,
		> div,
		table {
			width: 72%;
			margin: 0 auto;

			@media all and (max-width: 768px) {
				width: 100%;
			}
		}

		h2,
		h3 {
			margin-bottom: 1.5rem;
		}

		p {
			width: 100%;
			&:first-of-type {
				text-align: center;
				margin: 0 auto;
			}
			&:not(.hero-image) {
				width: 72%;

				@media all and (max-width: 768px) {
					width: 100%;
				}
			}
		}

		strong {
			font-weight: 800;
		}
	}
}
