main.home {
	display: grid;
	gap: 6rem;
	padding: 6rem 0;

	@media all and (max-width: 1024px) {
		padding: 2rem 1rem;
	}

	.title {
		display: grid;
		gap: 1.5rem;

		.description {
			> p {
				width: 45rem;

				@media all and (max-width: 768px) {
					width: 100%;
				}
			}
		}
	}

	.latest-posts {
		display: grid;
		gap: 3rem;

		.latest-post {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 3rem;

			@media all and (max-width: 768px) {
				grid-template-columns: 1fr;
			}

			article {
				display: grid;
				align-content: flex-start;
				gap: 1.5rem;

				> div {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 0.5rem;
				}

				.post-meta {
					color: $color-600;
				}
			}

			img {
				border-radius: 8px;
				aspect-ratio: 28/16;
				object-fit: cover;
			}
		}
	}

	.history {
		h3 {
			margin-bottom: 3rem;
			width: fit-content;

			svg {
				opacity: 0;
				fill: $color-600;
			}

			&:hover {
				svg {
					opacity: 1;
				}
			}
		}

		.container {
			display: grid;
			gap: 3rem;
			.wrapper {
				span.year {
					font-weight: 600;
				}

				.post-list {
					display: grid;
					gap: 2rem;
					margin-top: 3rem;

					.post-preview {
						display: grid;
						grid-template-columns: 5rem 1fr;
						align-items: center;

						@media all and (max-width: 768px) {
							gap: 0.5rem;
						}

						.post-date {
							color: $color-600;
							font-size: 0.875rem;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
