<nav class="site-nav" role="navigation" aria-label="Navigation Principale">
	<div>
		<a href="/" class="title" aria-label="Accueil - Gaëtan Jestin">
			Gaëtan Jestin
		</a>
		<ul role="menubar">
			{% for item in site.data.navigation %}
			<li role="none">
				<a 
					href="{{ item.url | relative_url }}" 
					role="menuitem"
					{% if page.url == item.url %}
						class="active"
						aria-current="page"
					{% endif %}
				>
					{{ item.title }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>