<nav class="site-nav" role="navigation" aria-label="Navigation Principale">
	<div>
		<a href="/" class="title" aria-label="Accueil - Gaëtan Jestin">
			Gaëtan Jestin
		</a>
		<ul 
			id="main-menu"
			role="menubar"
			aria-label="Menu principal"
		>
			{% for item in site.data.navigation %}
			<li role="none">
				<a 
					href="{{ item.url | relative_url }}" 
					role="menuitem"
					{% if page.url == item.url %}
						aria-current="page"
					{% endif %}
					aria-label="{{ item.title }}"
				>
					<span>{{ item.title }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>