<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="{{ page.description | default: site.description }}"
		/>
		<title>{{ page.title }}</title>
	</head>

	<body>
		{% include nav.html %}
		<main class="home">
			<div class="title">
				<h1>{{ page.title }}</h1>
				<div class="description" aria-label="Description du blog">
					{{ content }}
				</div>
			</div>

			<section class="latest-posts" aria-labelledby="latest-post">
				<h2 id="latest-post">Lire le dernier article</h2>
				<div class="latest-post" role="region" aria-labelledby="post-title">
					{% for post in site.posts limit:1 %}
					<article class="post-preview">
						<div>
							{% if post.tags %}
							<div>
								{% for tag in post.tags %}
								<span class="tag" role="tag">{{ tag }}</span>
								{% endfor %}
							</div>
							{% endif %}

							<p class="post-meta">
								<time datetime="{{ post.date | date_to_xmlschema }}"
									>{{ post.date | date: "%B %-d, %Y" }}</time
								>
							</p>
							<h3 id="post-title">
								<a
									href="{{ post.url | relative_url }}"
									aria-label="Read more about {{ post.title }}"
									>{{ post.title }}</a
								>
							</h3>
						</div>
						<p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
					</article>
					{% if post.featured_image %}
					<a
						href="{{ post.url | relative_url }}"
						aria-label="Featured image for {{ post.title }}"
					>
						<img
							src="{{ post.featured_image | relative_url }}"
							alt="{{ post.title }}"
							loading="lazy"
						/>
					</a>
					{% endif %} {% endfor %}
				</div>
			</section>

			<section class="history" aria-labelledby="all-articles">
				<h3 id="all-articles">
					<a href="#all-articles">
						Tous les articles
						<svg
							viewBox="0 0 16 16"
							width="16"
							height="16"
							class="anchor-link"
							onclick="navigator.clipboard.writeText(window.location.href.split('#')[0] + '#all-articles'); return false;"
							title="Copier le lien"
						>
							<path
								d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"
							></path>
						</svg>
					</a>
				</h3>

				<div class="container">
					{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date
					| date: '%Y'" %} {% for year in posts_by_year %}
					<div
						class="wrapper"
						role="region"
						aria-label="Posts from {{ year.name }}"
					>
						<span class="year">{{ year.name }}</span>
						<div class="post-list">
							{% for post in year.items %}
							<article class="post-preview">
								<time
									class="post-date"
									datetime="{{ post.date | date_to_xmlschema }}"
									>{{ post.date | date: "%b %-d" }}</time
								>
								<h5>
									<a
										href="{{ post.url | relative_url }}"
										aria-label="Read {{ post.title }}"
										>{{ post.title }}</a
									>
								</h5>
							</article>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
		</main>
		{% include footer.html %}
	</body>
</html>
